---
import Card from "../components/Card.astro";
import Layout from "../components/Layout.astro";
---

<Layout pageTitle="mis servicios">
        <h1>Mis Servicios</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Consequatur, accusamus culpa impedit distinctio saepe alias officiis
            rem ipsam, nam fugiat laboriosam tempora dolore cum odit tenetur,
            architecto voluptatibus porro quas?
        </p>

        <Card title="hola mundo" content="este es una prueba" />
        <Card
            title="programacion"
            content="servicios de desarrollo de aplicaciones"
        />
        <Card title="diseño" content="diseño de interface web" />
        <Card
            title="asistencia profesional"
            content="ofrecemos asistencia profecional"
        />
        <Card  content="jsjsjsjs"/>
        

        <Card  />
       

        <Card  />
       

        <style>
            body {
                background: #202020;
                color: white;
            }
        </style>
 